<!-- sidebar -->
<nav>
<%= link_to "( ͡° ͜ʖ //", root_path, :class => 'links' %>
<%= link_to "brooklyn //", brooklyn_index_path, :class => 'links' %>
<%= link_to "bronx //", bronx_index_path, :class => 'links' %>
<%= link_to "manhattan //", manhattan_index_path, :class => 'links' %>
<%= link_to "westchester", westchester_index_path, :class => 'links' %>
</nav>

<i><div class="borough_name">q u e e n s</div></i>


<!-- display spot names -->
<div class="spots">
<% @spots.each do |s| %>
      <% if s.borough == "Queens" %>
        <%= link_to "#{s.name}", spot_path(s.id), :class => 'spot_link' %>
        <% end %>
    <% end %>
</div>

<iframe width="640" height="469" src="https://www.youtube.com/embed/9dKOl9xX0lA" frameborder="1px"</iframe>