<div class="app_name"><i>s p o t ( ͡° ͜ʖ h e c k</i></div>

<div class="boroughs">
<%= link_to "manhattan", manhattan_index_path, :class => "manhattan_home_link" %>
<br>
<br>
<%= link_to "brooklyn", brooklyn_index_path, :class => "bk_home_link" %>
<br>
<br>
<%= link_to "queens", queens_index_path, :class => "queens_home_link" %>
<br>
<br>
<%= link_to "bronx", bronx_index_path, :class => "bx_home_link" %>
<br>
<br>
<%= link_to "westchester", westchester_index_path, :class => "westchester_home_link" %>

</div>

<div class="gifs">
<div class="manhattangif"><%= image_tag("manhattan1.gif") %></div>
<div class="queensgif"><%= image_tag("fmp1.gif") %></div>
<div class="westchestergif"><%= image_tag("westchester1.gif") %></div>
</div>