<div class="app_name">s p o t <span>( ͡° ͜ʖ</span> h e c k</div>

<div class="boroughs">
<%= link_to "manhattan", manhattan_index_path, :class => "manhattan_home_link" %>
<br>
<br>
<%= link_to "brooklyn", brooklyn_index_path, :class => "bk_home_link" %>
<br>
<br>
<%= link_to "queens", queens_index_path, :class => "queens_home_link" %>
<br>
<br>
<%= link_to "bronx", bronx_index_path, :class => "bx_home_link" %>
<br>
<br>
<%= link_to "the farm", westchester_index_path, :class => "westchester_home_link" %>


</div>

<div class="gifs">
<div class="manhattangif"><%= image_tag("manhattan1.gif") %></div>
<div class="queensgif"><%= image_tag("fmp1.gif") %></div>
<div class="westchestergif"><%= image_tag("westchester1.gif") %></div>

<div class="bkgif"><%= image_tag("bk1.gif") %></div>

<div class="bxgif"><%= image_tag("pun1.gif") %></div>
</div>