<!--     SIDE BAR -->
<nav>
<%= link_to "( ͡° ͜ʖ //", root_path, :class => 'links' %>
<%= link_to "brooklyn //", brooklyn_index_path, :class => 'links' %>
<%= link_to "manhattan //", manhattan_index_path, :class => 'links' %>
<%= link_to "queens //",queens_index_path, :class => 'links' %>
<%= link_to "westchester", westchester_index_path, :class => 'links' %>
</nav>


<i><div class="bronx">b r o n x</div></i>



<!-- display spot names -->
<div class = "spots">
<% @spots.each do |s| %>
      <% if s.borough == "Bronx" %>
        <%= link_to "#{s.name}", spot_path(s.id), :class => 'spot_link' %>
        <% end %>
    <% end %>
</div>

    <iframe width="640" height="469" src="https://www.youtube.com/embed/f-_141WPXuU" frameborder="1px"</iframe>