<!--     SIDE BAR -->
<nav>
<%= link_to "brooklyn", brooklyn_index_path, :class => 'links' %>
<%= link_to "queens",queens_index_path, :class => 'links' %>
<%= link_to "bronx", bronx_index_path, :class => 'links' %>
<%= link_to "westchester", westchester_index_path, :class => 'links' %>
<%= link_to "home", root_path, :class => 'links' %>
</nav>


<i><h1>m a n h a t t a n</h1></i>


<!-- display spot names -->
    <% @spots.each do |s| %>
      <% if s.borough == "Manhattan" %>
        <%= link_to "#{s.name}", spot_path(s.id), :class => 'spot_link' %>
        <% end %>
    <% end %>
